# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL

### Some of the popular languages that Data Scientists use are:

#### _1. Python_ 
#### _2. R_
#### _3. SQL_

### Some of the commonly used libraries used by Data Scientists include:

#### _1. NumPy_
#### _2. Pandas_
#### _3. SciPy_
#### _4. Matplotlib_

|*Data Science Tools*|
|:------------------:|
|Jupyter Notebook |
|R Studio         |
|Power BI         |
|Anaconda         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print(f"{x} hours")

3.3333333333333335 hours

## Author
Roman Dumych